
      <tr>
        <td><%=link_to "投給這位",vote_candidate_path(candidate) ,method: "post",data:{confirm: "確定要投給他?"}, class:"btn btn-danger btn-xs" %> </td>
        <td><%=link_to candidate.name,candidate_path(candidate) %>(年齡：<%= candidate.age %> 歲)</td>
        <td><%= candidate.party %></td>
        <td><%= candidate.politics %></td>
       <td><%= candidate.vote_logs_count %></td>
        <td><%= link_to "修改",edit_candidate_path(candidate)%>
        <%= link_to "刪除",candidate_path(candidate),method: "delete",data: { confirm: "確定刪除?"} %>
        
        </td>
      </tr>
